{% include "partials/head" %}
<body>

{% include "partials/navbar" %}

<div class="container my-4" itemscope itemtype="https://schema.org/SoftwareSourceCode">
    {% include "partials/breadcrumb" %}

    {{ content | raw }}
</div>

{% include "partials/footer" %}

<script src="/js/dark-mode.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
