{% include "partials/head" %}
<body>

{% include "partials/navbar" %}

<main class="container my-4" id="main" itemscope itemtype="https://schema.org/SoftwareSourceCode">
    {% include "partials/breadcrumb" %}

    {{ content | raw }}
</main>

{% include "partials/footer" %}

<script src="/js/dark-mode.js" defer></script>
<script src="/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>
