/**
 * Customize Bootstrap to make the light mode WCAG AAA conforming
 */
:root {
    --bs-border-radius: 5px;
    --bs-border-width: 2px;
}

[data-bs-theme="light"] {
    --bs-success: #006200;
    --bs-success-rgb: 0, 98, 0;
    --bs-warning: #784900;
    --bs-warning-rgb: 120, 73, 0;
    --bs-danger: #ac0023;
    --bs-danger-rgb: 172, 0, 35;
}

[data-bs-theme="dark"] {
    --bs-success: #21B570;
    --bs-success-rgb: 33, 181, 112;
    --bs-danger: #ff5767;
    --bs-danger-rgb: 255, 87, 103;
}

[data-bs-theme="light"] .btn-outline-primary {
    --bs-btn-color: #003f7d;
    --bs-btn-border-color: #003f7d;
    --bs-btn-hover-bg: #003f7d;
    --bs-btn-hover-border-color: #003f7d;
    --bs-btn-active-bg: #003f7d;
    --bs-btn-active-border-color: #003f7d;
    --bs-btn-disabled-color: #003f7d;
    --bs-btn-disabled-border-color: #003f7d;
}

[data-bs-theme="dark"] .btn-outline-secondary {
  --bs-btn-color: #97a1a8;
  --bs-btn-border-color: #97a1a8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108,117,125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #97a1a8;
  --bs-btn-active-border-color: #97a1a8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #97a1a8;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #97a1a8;
  --bs-gradient: none;
}

/*
 * Menu
 */
.logo {
    margin-top: -3px;
    margin-right: 8px;
}
.logo-dark {
    display: none;
}
[data-bs-theme="dark"] .logo-light {
    display: none;
}
[data-bs-theme="dark"] .logo-dark {
    display: inline;
}
[data-bs-theme="light"] .logo-dark {
    display: none;
}
[data-bs-theme="light"] .logo-light {
    display: inline;
}

/*
 * Filter and search
 */
.filter {
    background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

/*
 * Cards
 */
.ratio-A4 {
    --bs-aspect-ratio: 141.4%;
}

.badge {
    --bs-badge-border-radius: 2px;

    margin-left: 5px;
    margin-bottom: 5px;
}

.preview-col {
    overflow: hidden;
    margin: auto;
}

img.preview {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-position: center;
    object-fit: contain;
    border-radius: var(--bs-card-border-radius);
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    display: block;
    margin: auto;
}

img.icon {
    width: 32px;
    margin-left: 5px;
    float: right;
}
img.icon.icon-large {
    width: 128px;
}

.card-img-top {
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.overflow-fadeout {
    position: relative;
}

.overflow-fadeout::after {
    content: "";
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, transparent 0, var(--bs-card-bg) 100%);
    bottom: 0;
}

.author::after {
    content: ", ";
}

.author:last-child::after {
    content: "";
}

.time-new {
    color: #006200;
}

.time-old {
    color: #784900;
}

.time-older {
    color: #ac0023;
}

.text-bg-warning {
    color: white !important;
}

a.invisible-link,
a.invisible-link:hover {
    text-decoration: inherit;
    color: inherit;
}

/**
 * Form Control
 */
.form-control, .form-select {
    --bs-border-color: #bfbfbf;
}
