/**
 * Customize Bootstrap to make the light mode WCAG AAA conforming
 */
:root {
    --bs-border-radius: 0;
    --bs-badge-border-radius: 2px;
}

:root, [data-bs-theme="light"] {
    --bs-success: #006200;
    --bs-success-rgb: 0, 98, 0;
    --bs-warning: #784900;
    --bs-warning-rgb: 120, 73, 0;
    --bs-danger: #ac0023;
    --bs-danger-rgb: 172, 0, 35;
}

[data-bs-theme="light"] .btn-outline-primary {
    --bs-btn-color: #003f7d;
    --bs-btn-border-color: #003f7d;
    --bs-btn-hover-bg: #003f7d;
    --bs-btn-hover-border-color: #003f7d;
    --bs-btn-active-bg: #003f7d;
    --bs-btn-active-border-color: #003f7d;
    --bs-btn-disabled-color: #003f7d;
    --bs-btn-disabled-border-color: #003f7d;
}

/*
 * Menu
 */
.logo {
    margin-top: -3px;
    margin-right: 5px;
}

/*
 * Filter and search
 */
.filter {
    background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

.col-formats {
    overflow: scroll;
}

/*
 * Cards
 */
.ratio-A4 {
    --bs-aspect-ratio: 141.4%;
}

.badge {
    margin-right: 5px;
    margin-bottom: 5px;
}

.preview-col {
    overflow: hidden;
    margin: auto;
}

img.preview {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-position: center;
    object-fit: contain;
    border-radius: var(--bs-card-border-radius);
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    display: block;
    margin: auto;
}

img.icon {
    width: 32px;
    margin-left: 5px;
    float: right;
}

.card-img-top {
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.overflow-fadeout {
    position: relative;
}

.overflow-fadeout::after {
    content: "";
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, transparent 0, var(--bs-card-bg) 100%);
    bottom: 0;
}

.author::after {
    content: ", ";
}

.author:last-child::after {
    content: "";
}

.time-new {
    color: #006200;
}

.time-old {
    color: #784900;
}

.time-older {
    color: #ac0023;
}

.text-bg-warning {
    color: white !important;
}
