<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron px-3 py-1 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis" href="/">
                <i class="bi-house-door-fill"></i>
                <span class="visually-hidden">Home</span>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Template "{{ template.title }}"
        </li>
    </ol>
</nav>
