<div class="container-fluid">
    <footer class="text-body-secondary d-md-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="align-items-center">
            <img eleventy:ignore src="/favicon-light.svg" alt="Pandoc Templates" width="24" height="24" class="logo logo-light"><img eleventy:ignore src="/favicon-dark.svg" alt="Pandoc Templates" width="24" height="24" class="logo logo-dark"> Made by Pascal Wagler
        </div>

        <ul class="nav justify-content-md-end list-unstyled mt-3 mt-md-0 ms-md-3">
            <li>Last Update: <span>{{ 'abc' | dateNow | dateToHumanReadableLong }}</span></li>
            <li class="ms-3">
                <a target="_blank" rel="noopener noreferrer" class="text-decoration-none text-body-secondary" href="https://github.com/Wandmalfarbe/pandoc-templates.org">
                    <i class="bi-github"></i> GitHub
                </a>
            </li>
        </ul>
    </footer>
</div>
