<div class="container-fluid">
    <footer class="text-body-secondary d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center mb-2">
            <img eleventy:ignore src="/favicon.svg" alt="Pandoc Templates" width="24" height="24" class="me-2"> Made by Pascal Wagler
        </div>

        <ul class="nav justify-content-md-end list-unstyled d-flex ms-md-3 mb-2">
            <li>Last Update: <span>{{ 'abc' | dateNow | dateToHumanReadableLong }}</span></li>
            <li class="ms-3">
                <a target="_blank" rel="noopener noreferrer" class="text-decoration-none text-body-secondary" href="https://github.com/Wandmalfarbe/pandoc-templates.org">
                    <i class="bi-github"></i> GitHub
                </a>
            </li>
        </ul>
    </footer>
</div>
