<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/favicon.ico" sizes="48x48" type="image/x-icon">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="theme-color" content="#003f7d">
    <meta name="color-scheme" content="light dark">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-21PP2G0J5C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-21PP2G0J5C');
    </script>

    <style>{% include "css/bootstrap.min.css" %}</style>
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <meta name="application-name" content="Pandoc Templates">
    <meta name="apple-mobile-web-app-title" content="Pandoc Templates">
    {% if description and description != "" %}
        <meta name="description" content="{{ description | truncate: 160 | escape }}">
    {% else %}
        <meta name="description" content="Pandoc templates for PDF, LaTeX, HTML and Word. Easily convert documents with customizable templates for reports, articles, and more.">
    {% endif %}
    <meta name="keywords" content="pandoc, template, LaTeX, HTML, PDF, Word, DOCX, report, thesis, article, dissertation, resume">

    <meta name="robots" content="index, follow">

    <meta property="og:site_name" content="Pandoc Templates">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="Pandoc templates for PDF, LaTeX, HTML and Word. Easily convert documents with customizable templates for reports, articles, and more.">
    <meta property="og:url" content="https://pandoc-templates.org{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://pandoc-templates.org/opengraph.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta property="og:image:alt" content="Two pandoc templates side by side with the pandoc-templates.org logo on the left">
</head>
